<!DOCTYPE html>
<html>
<head>
    <title>Jordan's Personal Blog</title>
    <meta charset="UTF-8"/>
    <meta name="Jordans personal blog" content="A demo personal blog for Udacity's Frontend Nanodegree Program">
</head>
<body>
<header>
    <h1>Jordan's Personal Blog</h1>
    <nav>
        <a href="about_me.html">About Me</a>
    </nav>
</header>
<div>
    <a href="blog_post.html">Blog Post 1</a>
    <a href="blog_post.html">Blog Post 2</a>
    <a href="blog_post.html">Blog Post 3</a>
    <a href="blog_post.html">Blog Post 4</a>
</div>
<footer>
    <p>This blog was built for Udacity's Frontend Nanodegree Program</p>
</footer>
</body>
</html>